{% extends "main/base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
	<h1>About The Agency</h1>
	<p class="lead">We are an <strong>independent</strong>, <strong>non-profit</strong>
	advertising agency that specialises in <strong>political candidate advertising</strong>,
	and we'd love to represent <strong><em>YOU</em></strong>.</p>
	<p class="lead">We use the <strong>latest technologies</strong> and <strong>social-media</strong> outlets
	to further your campaign effot.
	With our <strong>scientifically-proven</strong> and <strong>patented</strong> <em>GoFurther&#8482</em>
	advertising methodology, we can proudly report success rates of up to 100% with our
	clients<sup>1</sup>.
	</p>
	<p class="lead">You can't go wrong with a brand name like ours. By choosing <em>The Agency</em>,
   	we promise you that your next campaign will be 
	pain free.</p>
	<small>[1] "of up to" does not constitute a binding agreement between <em>The Agency</em> 
		and <em>you</em> that your experience with us will necessarily
		result in a successful campaign effort</small>
{% endblock %}
