<!DOCTYPE html>
{% load staticfiles %}
{% include 'main/header.html' %}
<body>

  <!-- main content -->
  <div class="container">
   <h2>Vote For 
       {% if c.party == "Democrat" %}<span style="color:blue">
       {% else %}<span style="color:red">
       {% endif %}
       {{c.name}}</span></h2>
   <br/>
   <div class="row">
      <div class="col-md-4">
        <img src="{%static c.picture %}" height="500" width="300">
      </div>
      <div class="col-md-8">
        <p class="lead"> {{c.description}}</p>  
      </div> 
   </div>
   <br/>
   <br/>
   <h1>Free Stuff</h1>
   <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="{% static 'tshirt.jpg' %}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>T-Shirt</h2>

          <p><a class="btn btn-default" href="/free_stuff_form" role="button">Get Gift &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{% static 'sticker.jpg' %}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Bumper Sticker</h2>

          <p><a class="btn btn-default" href="/free_stuff_form" role="button">Get Gift &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{% static 'keychain.jpg' %}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Keychain</h2>

          <p><a class="btn btn-default" href="/free_stuff_form" role="button">get Gift &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
   </div><!-- /.row -->    
  
 </div>
</body>
{% include 'main/footer.html' %}
{% include 'main/js.html' %}
</html>
