{% extends "main/base.html" %}

{% load bootstrap %}

{% block title %}Home{% endblock %}

{% block content %}


<h2>Please fill out the form below</h2>
<p>Filling out this form provides our staff with the basic information needed to create a campaign page. From there, we will review the information provided and contact you for further information. There is a $250 application fee to pursue your campaign with The Agency. Upon submitting this form you will be redirected to our official PayPal account to pay the application fee. Thank you for your cooperation.</p>  
<br/>
<form action= '/candidate_form/' role="form" method='post'>{% csrf_token %}
	{{ form|bootstrap }}
	<input type='submit' value='Submit' />
</form>

{% endblock %}
