{% extends "main/base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
	<h1>Contact Us</h1>
	<p>Thank you for visiting our website. If you have any genral questions please feel free to send us an email at</p>

	<p><i><a href = "mailto:lanefdesign@gmail.com" target="_top">theagency@agency.com</a></i></p>
	<p>If you are looking into having The Agency manage a political campaign, please click on the following link. You will be asked to fill out a basic information form in order for our staff to better review your application</p>

	 <p><a class="btn btn-default" href="/candidate_form" role="button">Launch Your Campaign &raquo;</a></p>

	<p> Thank you for choosing the agency.</p>

{% endblock %}
