{% extends "main/base.html" %}

{% block title %}
	
{% endblock %}

{% block content %}
<style>
    body {
        background-color: #F0F6FC;
}
</style>
<h1>The Democrats</h1>
<div class="row"> 
    <div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1">
        {% for d in dems %}
        <div class="row">
            <div class="col-lg-6 col-md-6">
	        <p class="lead"><a href="/candidates/{{d.id}}">{{ d.name }}</a></p>
            </div>
        </div>
        {% endfor %}
    </div>
{% load staticfiles %}
<div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1">
    <img class="img-responsive" src="{% static 'donkey.png' %}">
</div>
{% endblock %}
