<head>
  <meta charset="utf-8">
  <title>{% block title %}default title{% endblock %}</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'home.css' %}">
  <!-- Bootstrap -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- header/navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Home</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="nav-content">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Parties<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/democrat_list">Democrats</a></li>
              <li><a href="/republican_list">Republicans</a></li>
            </ul>
          </li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact_us">Contact Us</a></li>
        </ul>
        <div class="navbar-form navbar-right">
          <img src="{% static 'agency.png' %}">
        </div>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  
</head>
