{% extends "main/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% load staticfiles %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="{% static 'obama.jpg' %}">
      <div class="carousel-caption">
        <h1>Barack Obama</h1>
        <p>Democrat</p>
      </div>
    </div>
    <div class="item">
      <img src="{% static 'mitt.jpg' %}">
      <div class="carousel-caption">
        <h1>Mitt Romney</h1>
        <p>Republican</p>
      </div>
    </div>
    <div class="item">
      <img src="{% static 'bush.jpg' %}">
      <div class="carousel-caption">
        <h1>George Bush</h1>
        <p>Republican</p>
      </div>
    </div>  
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>

        <h2>Our satisfied candidates:</h2>
        <div class="row">
        <div class="col-lg-4">
          <h2>Barack Obama</h2>
          <p><i>"No agency can do a better job! Thank you for all the hard work." Being the president of the US of A is really baller. I couldn't have done it without the great support of The Agency. With the pace at which they move mountains, I swear I could run for a third term." </i></p>
          
        </div>
        <div class="col-lg-4">
          <h2>Mitt Romney</h2>
          <p><i>"I wouldn't pick another agency other than The Agency on my next run! I guess it was a bit unfortunate that I didn't win, but I blame it on my lack of charisma and flip flop policies. #richpeopleproblems"</i></p>
          
       </div>
        <div class="col-lg-4">
          <h2>George Bush</h2>
          <p><i>"Uhh, they are good. What am i supposed to say?"</i></p>
          
        </div>
      </div>

{% endblock %}
