{% extends "main/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% load staticfiles %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="{% static 'main/obama.jpg' %}">
      <div class="carousel-caption">
        <h1>Barack Obama</h1>
        <p>Democrat</p>
      </div>
    </div>
    <div class="item">
      <img src="{% static 'main/mitt.jpg' %}">
      <div class="carousel-caption">
        <h1>Mitt Romney</h1>
        <p>Republican</p>
      </div>
    </div>
    <div class="item">
      <img src="{% static 'main/bush.jpg' %}">
      <div class="carousel-caption">
        <h1>George Bush</h1>
        <p>Republican</p>
      </div>
    </div>
    <div class="item">
      <img src="{% static 'main/kerry.jpg' %}">
      <div class="carousel-caption">
        <h1>John Kerry</h1>
        <p>Democrat</p>
      </div>
    </div>    
   
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{% endblock %}
